<!--RECENTLY ACCESSED PAGE-->
<ion-view view-title="Recently Accessed">
  <ion-nav-buttons side="left" >
    <a style="width: 100%;" href="#/app/landingpage"><button class="csui-home-button"></button></a>
  </ion-nav-buttons>

  <p>
<button ng-click="openPopover($event)">Open Popover</button>
</p>

<script id="my-popover.html" type="text/ng-template">
<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">My Popover Title</h1>
  </ion-header-bar>
  <ion-content>
    Hello!
  </ion-content>
</ion-popover-view>
</script>
</ion-view>
