<ion-view view-title="">
  <ion-nav-buttons side="left" >
    <div style="width: 100%;"><img src="img/login-icon.png" style="max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;"></div>
  </ion-nav-buttons>
  <ion-content>
                      <div id="map" data-tap-disabled="true" style="top: 5%;height: 93%;"></div>
              </ion-content>
              <marker position="{{latitude}},{{longitude}}" draggable="true" on-mouseup="markerMove()" visible="true"></marker>
               <ion-footer-bar class="bar-stable">
                  <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
               </ion-footer-bar>
</ion-view>
