<ion-view view-title="Favorites">
  <ion-content>
                      <div id="map" data-tap-disabled="true"></div>
              </ion-content>
               <ion-footer-bar class="bar-stable">
                  <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
               </ion-footer-bar>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <a href="#" style="width: 56%;position: absolute;left: 42%;top: 22%;">View Details>></a>
    </ion-header-bar>
      <ion-content>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark" style="background-color: #FFF">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url(img/fish-icon.jpg); background-size:40px 40px; background-repeat: no-repeat"></span>
                    <strong style="font-size: 17px">Salmon：75%{{node.data.assignments.name}}</strong>
                    <p style="padding-top:4px">Assigned By: lpl {{node.data.assignments.owner_name}}</p>
                    <p>Workflow:xkjvgdkjshfv {{node.data.assignments.workflow_name}}</p>
                    <div class="card-footer" style="width:120%; left:-65px; position: relative">
                        <i class="icon ion-clock" style="color: grey;position: relative;font-size:36px"> </i><span ng-show="node.data.assignments.date_due != null" style="padding-right: 1rem">saJDHFGAKEWLI;FYEARGJKFGH{{node.data.assignments.date_due.substring(12,16) + " || "
+ node.data.assignments.date_due.substring(0,10)}}</span><span ng-show="node.data.assignments.date_due == null" style="padding-right: 1rem">N/A</span>
                        <i class="icon ion-flag" style="color: grey; position: relative; font-size:36px"></i> KJDSFSAEFGLER{{node.data.assignments.status_name}}
                        <i class="icon ion-alert" style="color: red; position: relative; font-size:36px"></i> SAJHDFEWAJFGJW{{node.data.assignments.priority_name}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
  </ion-popover-view>
</script>
