<ion-view view-title='Operations Details'>
  <ion-nav-buttons side="left" >
    <button class="button button-clear back-button header-item animate-fade-slide-in-right" style="border-color: #F8F8F" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back" style="color: #20AFDC; font-size: 25px;"> </i>
    </button>
  </ion-nav-buttons>
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <ul class="list" style="margin-top: 32px">
      <li class="item" style="background-color: white">
        Vessel Name: <span class="pull-right">XJJ No1</span>
      </li>
      <li class="divider" style="height: 5px"></li>
      <li class="item" style="background-color: white">
        Location: <span class="pull-right">New Nippori</span>
      </li>
      <li class="divider" style="height: 5px"></li>
      <li class="item" style="background-color: white">
        Main type of catch: <span class="pull-right">Pacific Salmon</span>
      </li>
      <li class="divider" style="height: 5px"></li>
      <li class="item" style="background-color: white">
        Total catch: <span class="pull-right">5 tons</span>
      </li>
      <li class="divider" style="height: 5px"></li>
      <li class="item" style="background-color: white">
        License: <span class="pull-right">-magnet:sdfsdfsjdsihf293889sdf</span>
      </li>
      <li class="divider" style="height: 5px"></li>
    </ul>
  </ion-content>
</ion-view>
