<ion-view view-title="" align-title="left">
    <ion-content class="cs-wrap" style="background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="">
                  <img src = "img/landinglogo.png" class="ot-logo">
                </div>
            </div>
        </div>
        <div class="csui list">
          <div class="login-error">
          </div>
          <form name="loginAuthForm">
            <div class="item item-input item-floating-label">
              <input ng-model="username" type="text" name="Username" placeholder="User name" ng-focus="errorgone()" autocomplete="off">
              <span ng-show="username != ''" id="otds_username_clearer" class="clear-icon" ng-click="username = ''"></span>
            </div>
            <div class="item item-input item-floating-label">
              <input ng-model="password" type="password" name="Password" placeholder="Password" ng-focus="errorgone()" autocomplete="off">
              <span ng-show="password != ''" id="otds_password_clearer" class="clear-icon" ng-click="password = ''"></span>
            </div>
            <div class="csui padding">
              <button ng-click="auth(username, password)" class="csui button button-full button-assertive ink" ng-disabled="username == ''|| password == ''"><h4>Sign in</h4></button>
            </div>
          </form>
        </div>
        <div class="footer">
          <span class="login-copyright">
            <br>
            <span style="color: #b2b2b2">Don't have an account?</span> &nbsp;Sign up
          </span>
        </div>
    </ion-content>
</ion-view>
