/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.csui .list .item{
  background: none;
}

/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/

button.button.action-sheet-option{
  text-transform: none;
}

ion-header-bar.csui-enterprise div.buttons.buttons-left{
    width: 20%;
    height: 56%;
    background-color: #f8f8f8;
}

ion-header-bar.csui-enterprise span.left-buttons{
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 6px;
    padding-left: 18%;
}

button.csui-home-button{
  background-image: url("/img/icons/home.svg");
  background-size: 25px 25px;
  width: 25px;
  height: 25px;
  background-color: #f8f8f8;
  border: none;
}

body .pane{
  background:none;
}

.pane .menu{
  background:none;
}

body .item{
  background:none;
}

.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #f8f8f8;
    background: none;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    font-family: sans-serif
    left: 16px;
    position: absolute;
    top: 64%;
    right: 74%;
    color: #333333;
}

.menu .avatar {
    height: 58px;
    width: 58px;
    top: 44px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.header-item .button.button-icon.button-clear{
  color: #00a4d8;
}

div.title.title-left.header-item{
  color: #00a4d8;
  font-style: italic;
}

.icon.ion-android-arrow-back{
  color: #00a4d8;
}

ion-header-bar.bar.bar-header.csui-enterprise{
  background-color: #f8f8f8;
  background-image: url("/img/header.png");
  background-repeat: no-repeat;
  background-size: 171px 31px;
  background-position: center 20px;

}

ion-content.csui.sidemenu ion-item a.item-content{
  color: white;
  background-color: transparent;
}

/* Login
==================================*/
.login-error{
    font-size: 1.4em;
    margin: 0 auto;
    padding-top: 4px;
    vertical-align: baseline;
    text-align: center;
    min-height: 27px;
    color: white;
    font-family: sans-serif;
    display:none;
}


{
    background: linear-gradient(to bottom, #005077, #0094C6);
}

.hero.no-header {
    height: 52%;
}

.ot-logo{
    max-width: 81%;
    height: auto;
}
.csui.button.button-full.button-assertive{
    border-color: white;
    color: #00a4d8;
    border-radius: 25px;
    margin: 0 auto;
    text-transform: none;
    width: 100%;
}

.csui.button.button-full.button-assertive[disabled] {
  background: none;
  color: white;
  border: 1px solid white;
}

.csui.button.button-full.button-assertive h4{
    color: white;
}

.csui.button.button-full.button-assertive[disabled] h4{
  background: none;
  color: white;
  border: none;
}

.csui.list div.item.item-input{
    margin: 0 auto;
    width: 83%;
    min-height: 62px;
    padding: 12px 0 0;
    font-weight: normal;
    line-height: 1.42857;
    vertical-align: baseline;
}

.csui.list input{
    padding: 6px 12px;
    height: 44px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    font-style: italic;
    text-align: center;
}

.clear-icon {
    background-image: url('/img/icons/formfield_clear.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    width: 46px;
    height: 73PX;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.csui.padding{
    padding: 35px!important;
}

.footer {
    text-align: center;
    color: #fff;
    margin: 0;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.login-copyright{
  font-size: 16px;
  bottom: 10px;
  text-align: center;
  position: relative;
  width: 100%;
}
/* LandingPage
==================================*/

.tile-content{
    padding: 0;
    background-color: #f7f7f7;
    height: 113px;
}

.cs-shortcut .tile-header{
    padding-top: 6px;
}

.csui.item h2{
    font-size: 25px;
}

.tile-type-icon{
  position: absolute;
  left: 3px;
  top: -5px;
  float:left;
}

.tile-title{
  margin: 0 0 0 34px;
  float:left;
}

.icon {
  font-size: 46px;
  color: white;
}

.icon.ion-chevron-right{
  color: #0072aa;
}

.icon.ion-arrow-right-b{
  background: url('img/icons/circle_add.svg');
  content: url('img/icons/circle_add.svg') no-repeat;
  color: #0072aa;
}

.icon.ion-search.placeholder-icon{
  color: #E4E4E4;
}

.cs-list a.item.item-bg-image{
  min-height: 30px;
  background-color: #FFBF00;
}


/* Enterprise Workspace
==================================*/
.node {
  background-color:#FFFFFF;
  border-style:groove;
  border-color:#00A3D7
}

body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-bar > div:nth-child(4) > ion-header-bar {
    background: url('img/backgrounds/tile-bg-2.jpg') no-repeat center center fixed ;
    background-size: cover;
}
.scroll-content {
    background-image: url('/img/F-Login page.jpg');
    /*background: linear-gradient(to bottom, #005077, #0094C6);*/
}

body > ion-nav-view > div > ion-side-menus > ion-side-menu-content > ion-nav-view:nth-child(3) > ion-view > ion-content > div > div > div > a {
    background-color: #FFFFFF;
    border-style: outset;
    border-color: transparent;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right-width: 6px;
    border-left-width: 6px;
    background-clip: padding-box;
}

.item-input-wrapper.search{
  background-color: white;
}

/* Favorites
==================================*/

i.ion-star span{
  width: 100%;
  height: 46%;
  background-repeat: no-repeat;
}

.favoriteIcon{
  background-image: url('/img/icons/title-favourites.svg');
  background-repeat: no-repeat;
}

/* Popover
==================================*/
.popover {
    position: absolute;
    top: 25%;
    left: 42%;
    z-index: 10;
    display: block;
    margin-left: -110px;
    height: 33%;
    width: 100%;
}

.bar-footer {
    bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
    background-position: top;
    height: 59px;
}

.list.one .input-label{
  color: white;
}

.upload.list .input-label{
  color:white;
}
